<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Rotation Dashboard</title>

        <!-- Bootstrap core CSS -->
        {% load static %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/fullcalendar.print.css' %}" media='print' />
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}">


        {% endblock %}

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.proto.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/clone-form-td.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lang-all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/gcal.js' %}"></script>
         <script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
 
        <script>

        $(document).ready(function() {

            var numSchedules = {{schedule_list|safe}}.length

            for (i = 1; i <= numSchedules; i++) {

                    $('#myTab').append('<li role="presentation" class="dropdown"><a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Schedule '+i+'<span class="caret"></span></a><ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents"><li><a href="#schedule-'+i+'-dropdown1" tabindex="-1" role="tab" id="schedule-'+i+'-dropdown1-tab" data-toggle="tab" aria-controls="schedule-'+i+'-dropdown1">Rotation View</a></li><li><a href="#schedule-'+i+'-dropdown2" tabindex="-1" role="tab" id="schedule-'+i+'-dropdown2-tab" data-toggle="tab" aria-controls="schedule-'+i+'-dropdown2">Resident View</a></li></ul></li>');
                    $('#myTabContent').append('<div role="tabpanel" class="tab-pane fade in active" id="schedule-'+i+'-dropdown1" aria-labelledBy="schedule-'+i+'-dropdown1-tab"><div class="container-fluid"><div class="row"><div class="col-sm-3 col-md-2 sidebar"><ul class="nav nav-sidebar" id="rotation-sidebar-'+i+'"></ul></div><div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"><div id="rotation-calendar-info"></div><div id="calendar-edit-warning"></div><div id="rotation-calendars-'+i+'"></div><br><br></div></div></div></div>');
                    $('#myTabContent').append('<div role="tabpanel" class="tab-pane fade in active" id="schedule-'+i+'-dropdown2" aria-labelledBy="schedule-'+i+'-dropdown2-tab"><div class="container-fluid"><div class="row"><div class="col-sm-3 col-md-2 sidebar"><ul class="nav nav-sidebar" id="resident-sidebar-'+i+'"></ul></div><div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"><div id="resident-calendar-info"></div><div id="calendar-edit-warning"><div id="resident-calendars-'+i+'"></div><br><br></div></div></div></div>');

                $('#rotation-calendar-info').text('Overall schedule utility: '+String({{ schedule_list|safe }}[i-1].utility ));
                $('#resident-calendar-info').text('Overall schedule utility: '+String({{ schedule_list|safe }}[i-1].utility ));

                //create new calendar for each rotation
                var length = {{rotation_list|safe}}.length
                for (j = 0; j < length; j++) {
                    //add new calendar to html
                    $('#rotation-calendars-'+i).append('<h3>'+String({{rotation_list|safe}}[j])+'</h3><div id='+String({{rotation_list|safe}}[j])+i+'></div><br><br>');

                    //add rotation calendar navigation to sidebar
                    if (i == 0) {
                        $('#rotation-sidebar-'+i).append('<li class="active"><a href="#'+String({{rotation_list|safe}}[j])+i+'">'+String({{rotation_list|safe}}[j])+'<span class="sr-only">(current)</span></a></li>');    
                    }
                    else {
                        $('#rotation-sidebar-'+i).append('<li><a href="#'+String({{rotation_list|safe}}[j])+i+'">'+String({{rotation_list|safe}}[j])+'</a></li>');
                    }

                    //activate calendar and add events
                    $('#'+String({{rotation_list|safe}}[j])+i).fullCalendar({
                        header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultDate: '2015-01-01',
                    selectable: true,
                    selectHelper: true,
                    select: function(start, end) {
                        var title = prompt('Event Title:');
                        var eventData;
                        if (title) {
                            eventData = {
                                title: title,
                                start: start,
                                end: end
                            };

                        }

                    },
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: {{ schedule_rotation_events|safe }}[i-1][j],
                    eventDrop: function(event, delta, revertFunc) {
                        //alert("Resident: "+event.resident+", Rotation: "+event.rotation+", Schedule: "+event.schedule+", pk: "+event.pk+", start: "+event.start.format())
                        alert("end: "+event.end.format())
                        $.ajax({
                            url: "/changeEvent/",
                            type: "POST",
                            data: {
                                pk: event.pk,
                                start: event.start.format(),
                                end: event.end.format()
                            },
                            success: function(json) {
                                //alert("success!"+JSON.stringify(json))
                                $('#calendar-edit-warning').text(JSON.stringify(json['outcome']).replace(/\"/g, "").replace(/\\n/g, ""))
                            },
                            error: function(xhr, errmsg,err) {
                                alert("fail "+errmsg+err+xhr.responseText)
                            }
                        });

                        //alert("Current events: "+$.each($('#'+String({{rotation_list|safe}}[j])+i).fullCalendar('clientEvents'), function(key, value) {key + ": "+value)})
                        //ideas: make a var using the each function, and it might not just be key/value, bc each event has a lot

                        //var events = $('#'+String({{rotation_list|safe}}[j])+i).fullCalendar('clientEvents')
                        /*$.each(events, function(key, val) {
                            alert(key+val)
                        })*/
                        //$('#rotation-calendar-info').text(events.length)
                        //alert("Current events: "+$('#'+String({{rotation_list|safe}}[j])+i).fullCalendar('clientEvents'))
                        //alert("Res index: "+{{ resident_list|safe }}.indexOf(event.title))
                        //alert("Resident: "+event.title+", Rotation: "+{{rotation_list|safe}}[j]+", Schedule: Schedule "+event.schedule)

                        //alert ("event changed!")
                        /*$.ajax({
                            type: "POST",
                            url: "/changeEvent/",
                            data: {
                                events: "hi",
                            },
                            /*data: {
                                events: $('#'+String({{rotation_list|safe}}[j])+i).fullCalendar('clientEvents')
                            },*/
                            /*dataType:"json",
                            success: function(data) {
                                alert("Congratulations!"+data)
                            }
                            /*error: function (xhr, textStatus, errorThrown) {
                                alert("error!")
                            }*//*
                        })
                        /*alert(event.title + " was dropped on "+event.start.format());
                        if (!confirm("Are you sure about this change?")) {
                            revertFunc();*/
                            //http://fullcalendar.io/docs/event_data/clientEvents/
                        //}
                    }

                    });
                }
                
                //create new calendar for each resident
                var length = {{resident_list|safe}}.length
                for (j = 0; j < length; j++) {
                    //add new calendar to html
                    $('#resident-calendars-'+i).append('<h3>'+String({{resident_list|safe}}[j])+'</h3><div id='+String({{resident_list|safe}}[j])+i+'></div><br><br>');

                    //add rotation calendar navigation to sidebar
                    if (i == 0) {
                        $('#resident-sidebar-'+i).append('<li class="active"><a href="#'+String({{resident_list|safe}}[j])+i+'">'+String({{resident_list|safe}}[j])+'<span class="sr-only">(current)</span></a></li>');    
                    }
                    else {
                        $('#resident-sidebar-'+i).append('<li><a href="#'+String({{resident_list|safe}}[j])+i+'">'+String({{resident_list|safe}}[j])+'</a></li>');
                    }

                    //activate calendar and add events
                    $('#'+String({{resident_list|safe}}[j])+i).fullCalendar({
                        header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultDate: '2015-01-01',
                    selectable: true,
                    selectHelper: true,
                    select: function(start, end) {
                        var title = prompt('Event Title:');
                        var eventData;
                        if (title) {
                            eventData = {
                                title: title,
                                start: start,
                                end: end
                            };

                        }

                    },
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: {{ schedule_resident_events|safe }}[i-1][j]
                    });
                }

            }
        
    });
        </script>

<style>
    #calendar {
        max-width: 800px;
        margin: 0 auto;
    }

    .amount {
        box-shadow: none !important;
        background: none !important;
        border: none !important;
        width: 2em !important;
        color: #47A !important;
        text-align: center;
    }
</style>


<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">Rotation Scheduler</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="schedule-tab">
    <ul id="myTab" class="nav nav-tabs" role="tablist"></ul>
    <div id="myTabContent" class="tab-content"></div>
</div>


</body>
</html>

