<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Rotation Dashboard</title>

        <!-- Bootstrap core CSS -->
        {% load static %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/fullcalendar.print.css' %}" media='print' />
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}">

        {% endblock %}

        <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.proto.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/clone-form-td.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lang-all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/gcal.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fullcalendar.custom.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $(".chosen-select").chosen()
            $('#myForm').submit(function(){
                var val = $('#myForm').serializeArray();
                //$('#results').text(val[0].value);
                $('#calendar').fullCalendar('gotoDate', val[1].value);
                //select[name="block_select"]
                /*$('#block_select').empty();
                $('#block_select').append("<option value='" + val[0].value + "'>" + val[0].value +"</option>");
                $('#block_select').trigger("chosen:updated");*/
                return false;
                //if val[1].value != null
                    //$('#calendar').fullCalendar('gotoDate', val[1].value);
                //var optionsAsString = "";
                //for(var i = 0; i < val.length; i=i+3) {
                    //optionsAsString += "<option value='" + val[i] + "'>" + val[i] + "</option>";
                //optionsAsString += "<option>" + val[0].value + "</option>";
                //}
                //$( 'select[name="block_select"]' ).append( optionsAsString );
            });
            $('#sign-up_area').submit(function(){
                var val = $('#sign-up_area').serializeArray();
                var optionsAsString = "";
                //NOTE: All fields must be filled in for this to work!
                for(var i = 0; i < val.length; i=i+3) {
                    optionsAsString += "<option value='" + val[i].value + "'>" + val[i].value + "</option>";
                }
                $('#block_select').empty();
                $('#block_select').append(optionsAsString);
                $('#block_select').trigger("chosen:updated");
                return false;
            });
            $('#rotationForm').submit(function(){
                var val = $('#rotationForm').serializeArray();
                var optionsAsString = "";
                optionsAsString += "<option value='" + val[0].value + "'>" + val[0].value + "</option>";
                //NOTE: All fields must be filled in for this to work!
                /*for(var i = 0; i < val.length; i=i+3) {
                    optionsAsString += "<option value='" + val[i].value + "'>" + val[i].value + "</option>";
                }*/
                $('#rotation_select').empty();
                $('#rotation_select').append(optionsAsString);
                $('#rotation_select').trigger("chosen:updated");
                return false;
            });
            $('#datepicker-1').datepicker();
            $('#datepicker-2').datepicker();

            /*var optionsAsString = "";
            for(var i = 0; i < productArray.length; i++) {
                optionsAsString += "<option value='" + productArray[i] + "'>" + productArray[i] + "</option>";
            }
            $( 'select[name="inptProduct"]' ).append( optionsAsString );*/
        });
    </script>
    <!--script>
        function showValues() {
            alert("You did it!");
            /*var str = $("#rotationForm").serialize();
            $("results").text(str);*/
        }
        $( "input[type='checkbox']" ).on( "click", showValues );
        showValues();
    </script-->
</head>

<style>

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}
.myButton:active {
    position:relative;
    top:1px;
}

</style>


<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">Rotation Scheduler</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Program Information <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Block Information</a></li>
                <li><a href="#">Rotation Information</a></li>
                <li><a href="#">Schedule</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form id="myForm">
            <legend>Program Information</legend>
            <span class="help-block">General information about the residency program.</span>
            <!--label>Program Name</label-->
            <p><b>Program Name: </b><input type="text" name="programName"></p>

            <!--div id="input1" style="margin-bottom:4px;" class="clonedInput">
            <p>Year: <input type="text" name="year1" id="year1" /></p>
            </div-->
            
            <!--fieldset>
                <label class="label_year" for="year">Block name:</label>

                <input class="input_bn" type="text" name="block_name" id="block_name" value="">

                    <p class="form-help">E.g. Four-week block, Clinic block</p><!-- this is optional -->
            <!--/fieldset>
            
            <div id="addDelButtons">
                <input type="button" id="btnAdd" value="add another year"> <input type="button" id="btnDel" value="remove year above">
            </div-->
            <p></p>

            <p><b>Schedule Start Date: </b><input type="text" id="datepicker-1" name="startDate"></p>
            <p><b>Schedule End Date: </b><input type="text" id="datepicker-2" name="endDate"></p>
            <button type="submit" class="btn">Submit</button>
        </form>

        <p><tt type="text" id="results"></tt></p>

        <br><br>

        <form id="blockForm">
            <legend>Block Information</legend>
            <span class="help-block">Input all types of blocks to be used in the schedule</span>

        </form>

        <div>
            <!--form action="/" method="post" id="sign-up_area"-->
            <form id="sign-up_area">
                <div id="entry1" class="clonedInput">
                    <h4 id="reference" name="reference" class="heading-reference">Entry #1</h4>

                    <fieldset>
                        <label class="label_bn" for="block_name">Block name:</label>

                        <input class="input_bn" type="text" name="block_name" id="block_name" value="">

                            <p class="form-help">E.g. Four-week block, Clinic block</p><!-- this is optional -->
                    </fieldset>

                    <!--fieldset class="radio entrylist"-->
                    <fieldset>
                        <label class="label_bl" for="block_length">Block length:</label>
                        <input class="input_bl" type="text" name="block_length" id="block_length" value="">

                        <label class="label_radio" for="radioitem"></label><input type="radio" id="weeks" value="weeks" name="radioitem" class="input_radio"> Weeks
                        <label class="label_radio" for="radioitem"></label><input type="radio" id="months" value="months" name="radioitem" class="input_radio"> Months
                        <p class="form-help">E.g. "4" Weeks, "2" Months</p>
                    </fieldset>
                </div><!-- end #entry1 -->

                <div id="addDelButtons">
                    <input type="button" id="btnAdd" value="add section"> <input type="button" id="btnDel" value="remove section above">
                </div>
                <br>
                <button type="submit" class="btn">Submit</button>
                <!--fieldset class="form-actions">
                    <input type="submit" value="Submit">
                </fieldset-->
            </form>
        </div><!-- end cloned form -->
        <br><br>
        <!--form>
        <select class="chosen" multiple="true" style="width:300px;">
            <option>Choose...</option>
            <option>jQuery</option>
            <option>Prototype</option>
        </select>
        </form-->


        <form id="rotationForm">
            <legend>Rotation Information</legend>
            <p><b>Rotation Name: </b><input type="text" id="rotation_name" name="rotation_name"></p>
            <p><input type="checkbox" id="is_elective" name="is_elective"><b>  Elective</b></p>
            <br>
            <button type="submit" class="btn">Submit</button>
        </form><br><br>

        <form id="rotationBlockForm">
            <legend>Rotation/Block Information</legend>
            <fieldset>
                <div>
                    <em>Block(s)</em>
                    <select name="block_select" id="block_select" multiple class="chosen-select" style="width:350px;" tabindex="8">
                        <option value=""></option>
                    </select>
                </div> <p></p>

                <div>
                    <em>Rotation(s)</em>
                    <select name="rotation_select" id="rotation_select" multiple class="chosen-select" style="width:350px;" tabindex="8">
                        <option value=""></option>
                    </select>
                </div> <p></p>
                <p class="form-help">Enter the minimum and maximum lengths of the above rotation(s) within the above block(s); e.g. ICU rotation can be min 1 week and max 2 weeks in a 3-week block</p>
                <div>
                    <label class="label_min" for="min_length">Min length:</label>
                    <input class="input_min" type="text" name="min_length" id="min_length" value="">

                    <input type="radio" id="weeks_rot_min" value="weeks_rot_min" name="radioitem" class="input_radio"> Weeks
                    
                    <input type="radio" id="months_rot_min" value="months_rot_min" name="radioitem" class="input_radio"> Months
                </div><p></p>

                <div>
                    <label class="label_max" for="max_length">Max length:</label>
                    <input class="input_max" type="text" name="max_length" id="max_length" value="">
                    
                    <input type="radio" id="weeks_rot_max" value="weeks_rot_max" name="radioitem" class="input_radio"> Weeks
                    
                    <input type="radio" id="months_rot_max" value="months_rot_max" name="radioitem" class="input_radio"> Months
                </div>
            </fieldset>
            <button type="submit" class="btn">Submit</button>
        </form><br><br>

        <div name="aggregate_rotation">
        <table>
            <tr><td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td></tr>
            
            <tr><td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td></tr>
            
            <tr><td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td></tr>
        </table>
        </div>

        <br><br>

        <div id='calendar'></div>
        </div>
</body>
</html>

<!-- CLONED FORM EXAMPLES FOR DIFFERENT TYPES OF FIELDSETS -->
                    <!--fieldset>
                        <label class="label_ttl" for="title">Title:</label>
                        <select class="select_ttl" name="title" id="title">
                                <option value="" selected="selected" disabled="disabled">
                                    Select your title
                                </option>

                                <option value="Dr.">
                                    Dr.
                                </option>

                                <option value="Mr.">
                                    Mr.
                                </option>

                                <option value="Mrs.">
                                    Mrs.
                                </option>

                                <option value="Ms.">
                                    Ms.
                                </option>
                            </select>
                    </fieldset-->

                    <!--fieldset>
                        <label class="label_ln" for="last_name">Last name:</label>
                        <input class="input_ln" type="text" name="last_name" id="last_name" value="">
                    </fieldset>

                    <fieldset class="checkbox entrylist">
                        <label class="label_checkboxitem" for="checkboxitem">What color?</label>
                        <ul>
                            <li><label><input type="checkbox" id="colorBlue" value="colorBlue" name="checkboxitem" class="input_checkboxitem"> Blue</label></li>
                            <li><label><input type="checkbox" id="colorRed" value="colorRed" name="checkboxitem" class="input_checkboxitem"> Red</label></li>
                            <li><label><input type="checkbox" id="colorWhite" value="colorWhite" name="checkboxitem" class="input_checkboxitem"> White</label></li>
                        </ul><!-- end .input_radio -->
                    <!--/fieldset-->