<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Rotation Dashboard</title>

        <!-- Bootstrap core CSS -->
        {% load static %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/fullcalendar.print.css' %}" media='print' />
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.nouislider.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.nouislider.pips.min.css' %}">


        {% endblock %}

        <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.proto.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/clone-form-td.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lang-all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/gcal.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fullcalendar.custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.nouislider.all.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.nouislider.min.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $(".chosen-select").chosen()
            $('#myForm').submit(function(){
                var val = $('#myForm').serializeArray();
                //$('#results').text(val[0].value);
                $('#calendar').fullCalendar('gotoDate', val[1].value);
                return false;
                //if val[1].value != null
                    //$('#calendar').fullCalendar('gotoDate', val[1].value);
                //var optionsAsString = "";
                //for(var i = 0; i < val.length; i=i+3) {
                    //optionsAsString += "<option value='" + val[i] + "'>" + val[i] + "</option>";
                //optionsAsString += "<option>" + val[0].value + "</option>";
                //}
                //$( 'select[name="block_select"]' ).append( optionsAsString );
            });
            $('#sign-up_area').submit(function(){
                var val = $('#sign-up_area').serializeArray();
                var optionsAsString = "";
                //NOTE: All fields must be filled in for this to work!
                for(var i = 0; i < val.length; i=i+2) {
                    optionsAsString += "<option value='" + val[i].value + "'>" + val[i].value + "</option>";
                }
                $('#block_select').empty();
                $('#block_select').append(optionsAsString);
                $('#block_select').trigger("chosen:updated");
                return false;
            });
            $('#rotationForm').submit(function(){
                var val = $('#rotationForm').serializeArray();
                var optionsAsString = "";
                //NOTE: All fields must be filled in for this to work!
                for(var i = 0; i < val.length; i++) {
                    optionsAsString += "<option value='" + val[i].value + "'>" + val[i].value + "</option>";
                }
                $('#rotation_select').empty();
                $('#rotation_select').append(optionsAsString);
                $('#rotation_select').trigger("chosen:updated");
                $('#rotation_select_year').empty();
                $('#rotation_select_year').append(optionsAsString);
                $('#rotation_select_year').trigger("chosen:updated");
                return false;
            });
            $('#yearForm').submit(function(){
                var val = $('#yearForm').serializeArray();
                var optionsAsString = "";
                //NOTE: All fields must be filled in for this to work!
                for(var i = 0; i < val.length; i++) {
                    optionsAsString += "<option value='" + val[i].value + "'>" + val[i].value + "</option>";
                }
                $('#year_select').empty();
                $('#year_select').append(optionsAsString);
                $('#year_select').trigger("chosen:updated");
                return false;
            });
            $('#datepicker-1').datepicker();
            $('#datepicker-2').datepicker();
            $('#slider').noUiSlider({
                start: [5],
                step: 1,
                range: {
                    'min': 0,
                    'max': 10
                }
            });

            var init = true;
            var elements = $(".multislider").children(".slider.tied").length;
            var MAX = 10;
            var initValue = (MAX / elements) >> 0;
            var InitMod = MAX % elements;

            $(".slider.tied").each(function() {
                var slidersTied = $(".slider.tied");
                var context = $(this);

                var input = context.prev(".amount");
                var val = input.data('answer');
                var min = input.data('min');
                var max = input.data('max');
                var range = 1;
                var proceed = false;

                $(this).empty().slider({
                    value: val,
                    min: min,
                    max: max,
                    range: range,
                    animate: "slow",
                    create: function(event, ui){

                        if (InitMod > 0) {
                            $(this).slider('value', initValue + 1);
                            $(this).prev('.amount').val(initValue + 1);
                            InitMod = InitMod - 1;
                        }
                        else
                        {
                            $(this).slider('value', initValue);
                            $(this).prev('.amount').val(initValue);
                        }

                    },
                    slide: function(e, ui) {

                        // Update display to current value
                        $(this).prev('.amount').val(ui.value);

                        var current = ($(this).index() / 2) >> 0;
                        var total = 0;
                        var counter = 0

                        slidersTied.not(this).each(function() {

                            total += $(this).slider("option", "value");                
                            counter += 1;
                        });

                        total += ui.value;

                        if (total != MAX){
                            proceed = true;
                        }

                        var missing = MAX - total;
                        console.log("missing: " + missing);

                        counter = 0;

                        if(proceed) {

                            //load elements array
                            var elements = [];

                            slidersTied.each(function() {
                                elements[counter] = $(this);
                                counter += 1;
                            });

                            var endIndex = counter - 1;
                            counter = endIndex + 1;

                            while (missing != 0) {

                                console.log("current counter: " + counter);
                                do {
                                    if (counter == 0) 
                                    {
                                        counter = endIndex;
                                    }
                                    else
                                    {
                                        counter = counter - 1;
                                    }
                                } while(counter == current)

                                console.log("elemento attuale: " + counter);

                                var value = elements[counter].slider("option", "value");
                                var result = value + missing;

                                if (result >= 0) 
                                {
                                    elements[counter].slider('value', result);
                                    elements[counter].prev('.amount').val(result);

                                    missing = 0;    
                                }
                                else
                                {
                                    missing = result;
                                    elements[counter].slider('value', 0);
                                    elements[counter].prev('.amount').val(0);
                                }

                            }

                        }

                    }
                });
            });

        });
    </script>
</head>

<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }

    .amount {
        box-shadow: none !important;
        background: none !important;
        border: none !important;
        width: 2em !important;
        color: #47A !important;
        text-align: center;
    }
</style>


<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">Rotation Scheduler</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li-->
                        <li><a href="#">Help</a></li>
                    </ul>
                    <!--form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form-->
                </div>
            </div>
        </nav>

        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#program">Program Information <span class="sr-only">(current)</span></a></li>
                <li><a href="#block">Block Information</a></li>
                <li><a href="#rotation">Rotation Information</a></li>
                <li><a href="#year">Year/Track Information</a></li>
                <li><a href="#rotation_block">Rotation/Block Information</a></li>
                <li><a href="#rotation_year">Rotation/Year Information</a></li>
                <li><a href="#resident">Resident Information</a></li>
                <li><a href="#objective">Objective</a></li>
                <li><a href="#schedule">Schedule</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <a id="program"></a>
        <form id="myForm">
            <legend>Program Information</legend>
            <span class="help-block">General information about the residency program.</span>

            <p><b>Program Name: </b><input type="text" name="programName"></p>

            <p></p>

            <p><b>Schedule Start Date: </b><input type="text" id="datepicker-1" name="startDate"></p>
            <p><b>Schedule End Date: </b><input type="text" id="datepicker-2" name="endDate"></p>
            <button type="submit" class="btn">Save and Update</button>
        </form>

        <p><tt type="text" id="results"></tt></p>

        <br><br>

        <a id="block"></a>
        <form id="blockForm">
            <legend>Block Information</legend>
            <span class="help-block">Input all types of blocks to be used in the schedule</span>

        </form>

        <div>
            <!--form action="/" method="post" id="sign-up_area"-->
            <form id="sign-up_area">
                <div id="entry1" class="clonedInput">
                    <h4 id="reference" name="reference" class="heading-reference">Entry #1</h4>

                    <fieldset>
                        <label class="label_bn" for="block_name">Block name:</label>

                        <input class="input_bn" type="text" name="block_name" id="block_name" value="">

                            <p class="form-help">E.g. Four-week block, Clinic block</p><!-- this is optional -->
                    </fieldset>

                    <!--fieldset class="radio entrylist"-->
                    <fieldset>
                        <label class="label_bl" for="block_length">Block length:</label>
                        <input class="input_bl" type="text" name="block_length" id="block_length" value=""> Weeks

                        <!--label class="label_radio" for="radioitem"></label><input type="radio" id="weeks" value="weeks" name="radioitem" class="input_radio"> Weeks
                        <label class="label_radio" for="radioitem"></label><input type="radio" id="months" value="months" name="radioitem" class="input_radio"> Months
                        <p class="form-help">E.g. "4" Weeks, "2" Months</p-->
                    </fieldset>
                </div><!-- end #entry1 -->

                <div id="addDelButtons">
                    <input type="button" id="btnAdd" value="add block"> <input type="button" id="btnDel" value="remove block above">
                </div>
                <br>

                <button type="submit" class="btn">Save and Update</button>
                <!--fieldset class="form-actions">
                    <input type="submit" value="Submit">
                </fieldset-->
            </form>
        </div><!-- end cloned form -->
        <br><br>

        <a id="rotation"></a>
        <form id="rotationForm">
            <legend>Rotation Information</legend>

            <div id="rotation1" class="clonedRotation">
                <label class="label_rn" for="rotation_name">Rotation Name:</label>
                <input class="input_rn" type="text" name="rotation_name" id="rotation_name" value="">

                <!--input type="checkbox" id="isElective" value="isElective" name="isElective" class="input_checkboxitem">  Elective-->
            </div><br>

            <div id="addDelButtons">
                <input type="button" id="btnAddRotation" value="add rotation"> <input type="button" id="btnDelRotation" value="remove rotation above">
            </div><br>

            <button type="submit" class="btn">Save and Update</button>
        </form><br><br>

        <a id="year"></a>
        <form id="yearForm">
            <legend>Year/Track Information</legend>

            <div id="year1" class="clonedYear">

                <label class="label_yn" for="year_name">Year/Track Name:</label>
                <input class="input_yn" type="text" name="year_name" id="year_name" value="">

            </div><br>

            <div id="addDelButtons">
                <input type="button" id="btnAddYear" value="add year/track"> <input type="button" id="btnDelYear" value="remove year/track above">
            </div><br>

            <button type="submit" class="btn">Save and Update</button>
        </form><br><br>


        <a id="rotation_block"></a>
        <form id="rotationBlockForm">
            <legend>Rotation/Block Information</legend>
            <fieldset>
                <div>
                    <em>Block(s)</em>
                    <select name="block_select" id="block_select" multiple class="chosen-select" style="width:350px;" tabindex="8">
                        <option value=""></option>
                    </select>
                </div> <p></p>

                <div>
                    <em>Rotation(s)</em>
                    <select name="rotation_select" id="rotation_select" multiple class="chosen-select" style="width:350px;" tabindex="8">
                        <option value=""></option>
                    </select>
                </div> <p></p>
                <p class="form-help">Enter the minimum and maximum lengths of the above rotation(s) within the above block(s); e.g. ICU rotation can be min 1 week and max 2 weeks in a 3-week block</p>
                <div>
                    <label class="label_min" for="min_length">Min length:</label>
                    <input class="input_min" type="text" name="min_length" id="min_length" value=""> Weeks

                    <!--input type="radio" id="weeks_rot_min" value="weeks_rot_min" name="radioitem" class="input_radio"> Weeks
                    
                    <input type="radio" id="months_rot_min" value="months_rot_min" name="radioitem" class="input_radio"> Months-->
                </div><p></p>

                <div>
                    <label class="label_max" for="max_length">Max length:</label>
                    <input class="input_max" type="text" name="max_length" id="max_length" value=""> Weeks
                    
                    <!--input type="radio" id="weeks_rot_max" value="weeks_rot_max" name="radioitem" class="input_radio"> Weeks
                    
                    <input type="radio" id="months_rot_max" value="months_rot_max" name="radioitem" class="input_radio"> Months-->
                </div>
            </fieldset>
            <button type="submit" class="btn">Save and Update</button>
        </form><br><br>

        <a id="rotation_year"></a>
        <form id="rotationYearForm">
            <legend>Rotation/Year Information</legend>
            <fieldset>
                <div>
                    <em>Year/Track(s)</em>
                    <select name="year_select" id="year_select" multiple class="chosen-select" style="width:350px;" tabindex="8">
                        <option value=""></option>
                    </select>
                </div> <p></p>

                <div>
                    <em>Rotation(s)</em>
                    <select name="rotation_select_year" id="rotation_select_year" multiple class="chosen-select" style="width:350px;" tabindex="8">
                        <option value=""></option>
                    </select>
                </div> <p></p>
                <p class="form-help">Enter the minimum and maximum lengths of the above rotation(s) for residents of the above year/track(s); e.g. PGY1's can have min 5 weeks and max 8 weeks of ICU in their schedule.</p>
                <div>
                    <label class="label_min_year" for="min_year_length">Min length:</label>
                    <input class="input_min_year" type="text" name="min_year_length" id="min_year_length" value=""> Weeks
                </div><p></p>

                <div>
                    <label class="label_max_year" for="max_year_length">Max length:</label>
                    <input class="input_max_year" type="text" name="max_year_length" id="max_year_length" value=""> Weeks
                </div>
            </fieldset>
            <button type="submit" class="btn">Save and Update</button>
        </form><br><br>

        <a id="resident"></a>
        <form id="residentForm">
            <legend>Resident Information</legend>

            <div id="resident1" class="clonedResident">
                <label class="label_dn" for="resident_name">Resident Name:</label>
                <input class="input_dn" type="text" name="resident_name" id="resident_name" value="">

                <label class="label_de" for="resident_email">Email:</label>
                <input class="input_de" type="text" name="resident_email" id="resident_email" value="">
            </div><br>

            <div id="addDelButtons">
                <input type="button" id="btnAddResident" value="add resident"> <input type="button" id="btnDelResident" value="remove resident above">
            </div><br>

            <button type="submit" class="btn">Save and Update</button>
        </form><br><br>


        <!--div name="aggregate_rotation">
        <table>
            <tr><td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td></tr>
            
            <tr><td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td></tr>
            
            <tr><td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td>
            <td><a href="#" class="myButton">x</a></td></tr>
        </table>
        </div-->

        <a id="objective"></a>

        <div id="objectiveFunction">
            <legend>Objective</legend>

            <span class='multislider'>
                Option1 (<input type='text' required name='question_3' class='amount' value='0' data-min='0' data-max='10'/>)
                <div class='slider tied'></div> <p></p>

                Option 2 (<input type='text' required name='question_3' class='amount' value='0' data-min='0' data-max='10'/>)
                <div class='slider tied'></div> <p></p>

                Option 3 (<input type='text' required name='question_3' class='amount' value='0' data-min='0' data-max='10'/>)
                <div class='slider tied'></div>

            </span>
        </div><br><br>

        <a href="schedule/">
        <button type="submit" class="btn">Create Schedule</button></a>
        <br><br>

        <a id="schedule"></a>
        <div id='calendar'></div>
        </div>
</body>
</html>

<!-- CLONED FORM EXAMPLES FOR DIFFERENT TYPES OF FIELDSETS -->
                    <!--fieldset>
                        <label class="label_ttl" for="title">Title:</label>
                        <select class="select_ttl" name="title" id="title">
                                <option value="" selected="selected" disabled="disabled">
                                    Select your title
                                </option>

                                <option value="Dr.">
                                    Dr.
                                </option>

                                <option value="Mr.">
                                    Mr.
                                </option>

                                <option value="Mrs.">
                                    Mrs.
                                </option>

                                <option value="Ms.">
                                    Ms.
                                </option>
                            </select>
                    </fieldset-->

                    <!--fieldset>
                        <label class="label_ln" for="last_name">Last name:</label>
                        <input class="input_ln" type="text" name="last_name" id="last_name" value="">
                    </fieldset>

                    <fieldset class="checkbox entrylist">
                        <label class="label_checkboxitem" for="checkboxitem">What color?</label>
                        <ul>
                            <li><label><input type="checkbox" id="colorBlue" value="colorBlue" name="checkboxitem" class="input_checkboxitem"> Blue</label></li>
                            <li><label><input type="checkbox" id="colorRed" value="colorRed" name="checkboxitem" class="input_checkboxitem"> Red</label></li>
                            <li><label><input type="checkbox" id="colorWhite" value="colorWhite" name="checkboxitem" class="input_checkboxitem"> White</label></li>
                        </ul><!-- end .input_radio -->
                    <!--/fieldset-->