<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Rotation Dashboard</title>

        <!-- Bootstrap core CSS -->
        {% load static %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
        {% endblock %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen.proto.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#btnAdd').click(function() {
                var num     = $('.clonedInput').length; // how many "duplicatable" input fields we currently have
                var newNum  = new Number(num + 1);      // the numeric ID of the new input field being added
 
                // create the new element via clone(), and manipulate it's ID using newNum value
                var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);
 
                // manipulate the name/id values of the input inside the new element
                newElem.children(':first').attr('id', 'year' + newNum).attr('name', 'year' + newNum);
 
                // insert the new element after the last "duplicatable" input field
                $('#input' + num).after(newElem);
 
                // enable the "remove" button
                $('#btnDel').attr('disabled','');
 
                // business rule: you can only add 5 names
                if (newNum == 5)
                    $('#btnAdd').attr('disabled','disabled');
            });
 
            $('#btnDel').click(function() {
                var num = $('.clonedInput').length; // how many "duplicatable" input fields we currently have
                $('#input' + num).remove();     // remove the last element
 
                // enable the "add" button
                $('#btnAdd').attr('disabled','');
 
                // if only one element remains, disable the "remove" button
                if (num-1 == 1)
                    $('#btnDel').attr('disabled','disabled');
            });
 
            $('#btnDel').attr('disabled','disabled');
            $('#datepicker').datepicker();
            $('#myForm').submit(function(){
                var values=$('#myForm').serialize();
                $('#results').text(values);
            });
            $(".chzn-select").chosen();
        });
    </script>
</head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">Rotation Scheduler</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>



        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



        <form id="myForm">
            <legend>Program Information</legend>
            <span class="help-block">General information about the residency program.</span>
            <!--label>Program Name</label-->
            Program Name: <input type="text">

            <div id="input1" style="margin-bottom:4px;" class="clonedInput">
            Year: <input type="text" name="year1" id="year1" />
            </div>
         
            <div>
                <input type="button" id="btnAdd" value="add another year" />
                <input type="button" id="btnDel" value="remove year" />
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>

        <p>Results: <tt id="results"></p>

        <div>
            <select class="chzn-select" multiple="true" name="faculty" style="width:200px;">
                <option value="Option1">A</option>
                <option value="Option2">B</option>
                <option value="Option3">C</option>
                <option value="Option4">D</option>
            </select>
        </div>

    </div>

  </body>
</html>